
<li>@Html.ActionLink("Calculate New Forecast", "calculateNewForecast", "Home")</li>

<h1>Basic Get Operations</h1>
<table>
    <tr>
        <td>
            <a href="./api/SymptomCategories">GET: /api/SymptomCategories</a>
        </td>
        <td>
            @{

            Guid firstSymptomCategory = ViewBag.symptomCategories[0].ID;
        }
        <a href="./api/SymptomCategories/@firstSymptomCategory.ToString()">GET: /api/SymptomCategories/@firstSymptomCategory.ToString()</a>
    </td>
    </tr>
    <tr>
    <td>
           <a href="./api/Symptoms">GET: /api/Symptoms</a>
    </td>
        <td>
            @{

            Guid firstSymptom = ViewBag.symptoms[0].ID;
        }
        <a href="./api/Symptoms/@firstSymptom.ToString()">GET: /api/Symptoms/@firstSymptom.ToString()</a>
    </td>

    </tr>
    <tr>
        <td>
            <a href="./api/Conditions">GET: /api/Conditions</a>
        </td>
        <td>@{
            
            Guid firstCondition = ViewBag.conditions[0].ID;
        }
            <a href="./api/Conditions/@firstCondition.ToString()">GET: /api/Conditions/@firstCondition.ToString()</a>
        </td>
    </tr> 

    <tr>
        <td>
            <a href="./api/Locations">GET: /api/Locations</a>
        </td>
        <td>
            @{

                Guid firstLocation = ViewBag.locations[0].ID;
            }
            <a href="./api/Locations/@firstLocation.ToString()">GET: /api/Locations/@firstLocation.ToString()</a>
        </td>

    </tr> 
    <tr>
        <td>
            <a href="./api/Profiles">GET: /api/Profiles</a>
        </td>
        <td>
            @{

                Guid firstProfile = ViewBag.profiles[0].ID;
            }
            <a href="./api/Profiles/@firstProfile.ToString()">GET: /api/Profiles/@firstProfile.ToString()</a>
        </td>

    </tr> 

</table>

<h1>Sample Error Conditions</h1>
<h2>Calling GET with wrong ID</h2>
<table>
    <tr>
        <td>
            <a href="./api/Conditions/a3107486-80cb-48d4-adfb-1a3b99b44b63">GET: /api/Conditions/{non existent guid}</a>
         </td>
    </tr>
    <tr>
        <td>
            <a href="./api/Conditions/a3107486-80cb-48d4-adfb-1a3b99b44b6">GET: /api/Conditions/{malformed guid}</a>
        </td>
    </tr>
    <tr>
    </tr>

</table>