
<table>
    <tr>
        <td>
            <a href="./api/SymptomCategories">GET: /api/SymptomCategories</a>
        </td>
        <td>
            <a href="./api/SymptomCategories/1">GET: /api/SymptomCategories/1</a>
        </td>
    </tr>
    <tr>
    <td>
           <a href="./api/Symptoms">GET: /api/Symptoms</a>
    </td>
        <td>
            <a href="./api/Symptoms/1">GET: /api/Symptoms/1</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="./api/Conditions">GET: /api/Conditions</a>
        </td>
        <td>
            <a href="./api/Conditions/1">GET: /api/Conditions/1</a>
        </td>
    </tr> 
    <tr>
        <td>
            <a href="./api/ConditionSymptoms">GET: /api/ConditionSymptoms</a>
        </td>
        <td>
            <a href="./api/ConditionSymptoms/1">GET: /api/ConditionSymptoms/1</a>
        </td>
    </tr>
</table>