
<li>@Html.ActionLink("Calculate New Forecast", "calculateNewForecast", "Home")</li>
<li>@Html.ActionLink("Clean forecast - delete all", "deleteForecast", "Home")</li>

<table>
    <tr>
        <td>
            <a href="./api/SymptomCategories/GetSymptomCategories">GET: /api/SymptomCategories/GetSymptomCategories</a>
        </td>
        <td>
            @{

                String firstSymptomCategory = "there are not symptomCategories defined";
                try { firstSymptomCategory = ViewBag.symptomCategories[0].ID; }
                catch (Exception) { }
        }
            <a href="./api/SymptomCategories/GetSymptomCategories/@firstSymptomCategory.ToString()">GET: /api/SymptomCategories/GetSymptomCategories/@firstSymptomCategory.ToString()</a>
    </td>
    </tr>
    <tr>
    <td>
           <a href="./api/Symptoms/GetSymptoms">GET: /api/Symptoms/GetSymptoms</a>
    </td>
        <td>
            @{

            String firstSymptom="there are not symptoms defined";

            try { firstSymptom = ViewBag.symptoms[0].ID; }
            catch (Exception) { 
            
            }
        }
            <a href="./api/Symptoms/GetSymptoms/@firstSymptom.ToString()">GET: /api/Symptoms/GetSymptoms/@firstSymptom.ToString()</a>
    </td>

    </tr>
    <tr>
        <td>
            <a href="./api/Conditions/GetConditions">GET: /api/Conditions/GetConditions</a>
        </td>
        <td>@{
            
            String firstCondition = "there are not conditions defined";
            try { firstCondition = ViewBag.conditions[0].ID; }
            catch (Exception) { }
        }
            <a href="./api/Conditions/GetConditions/@firstCondition.ToString()">GET: /api/Conditions/GetConditions/@firstCondition.ToString()</a>
        </td>
    </tr> 

    <tr>
        <td><p>All Forecasts (impractical in practice..)</p>
            <a href="./api/Forecasts/GetForecasts"> GET: /api/Forecasts/GetForecasts </a>
        </td>
        <td>
            @{

                String firstUserId="";
                try
                {
                    firstUserId = ViewBag.user.ID;
                }
                catch (Exception) { }
            }
            <p>All Forecasts for one userId</p>
            <a href="./api/Forecasts/GetForecastsForUser?user_id=@firstUserId.ToString()">GET: /api/Forecasts/GetForecastsForUser?user_id=@firstUserId.ToString()</a>
        </td>
        <td>
            @{

                String firstProfileId = "";
                try
                {
                    firstUserId = ViewBag.user.ID;
                    firstProfileId = ViewBag.user.ProfileMIDs[0];
                }
                catch (Exception) { }
            }
            <p>All Forecasts for one profileId</p>
            <a href="./api/Forecasts/GetForecastsForProfile?profile_id=@firstProfileId.ToString()">GET: /api/Forecasts/GetForecastsForProfile?profile_id=@firstProfileId.ToString()</a>
        </td>
       

    </tr> 

</table>

Mongo DB Basic Object Model
<div>
    <img src="~/Content/WellCastMongoUserDataModel.png" />
</div>

API Object Model
<div>
    <img src="~/Content/Model.png" />
</div>
Architecture Ideas
<div>
    <img src="~/Content/WellCastServerAPI_Archictural_Ideas.JPG" />
</div>

<h1>Sample Error Conditions</h1>
<h2>Calling GET with wrong ID</h2>
<table>
    <tr>
        <td>
            <a href="./api/Conditions/a3107486-80cb-48d4-adfb-1a3b99b44b63">GET: /api/Conditions/{non existent guid}</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="./api/Conditions/a3107486-80cb-48d4-adfb-1a3b99b44b6">GET: /api/Conditions/{malformed guid}</a>
        </td>
    </tr>
    <tr></tr>

</table>